<?xml version="1.0" encoding="utf-8"?>
<!--
Web.config file for EmailsService.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
   <system.net>
    <!--TODO 001. En el web config, configuramos los mail settings con el host, password, username y el port-->
     <mailSettings>
    <smtp>
      <network host="smtp.sendgrid.net" password="ort12345" userName="azure_61e40289132203c43adee0c04e10a15a@azure.com" port="587" />
    </smtp>
  </mailSettings>
</system.net>
</configuration>